<!DOCTYPE html>
<html>
  <head>
		<meta http-equiv="refresh" content="20">
    <title>node-server</title>
		<style>
			p {font-size : 12pt;}
			div.content {float: top; width: 100%; height:20px; }
				div.column-left { float: left; width: 10%; }
				div.column-main { float: right; width: 90%; height: 1000px; }
			div.footer { width: 100%; height:3px; }
 		</style>
		
  </head>
  <body>
		
		<div class="content">
			
	    <% if (iFrameURL) { %>
					<p> <%= iFrameURL %> </p>
			<% } %>
			
			<div class="column-left">
				
				<script type="text/javascript">
			  		//alert("Hello World!");
				</script>
				
		    <% if (currentUser) { %>
					<p> <%= currentUser.twitterID %> </p>
					<img src="<%= currentUser.picURL %>" width="100">
				<% } %>
				
				<p>Network:</p>
					<%for (var i = 0; i < iPV4Interfaces.length; i++) { %>
						<p> <%= iPV4Interfaces[i].name  %>-<%= iPV4Interfaces[i].family  %>:</p>
						<p> <%= iPV4Interfaces[i].address  %></p>
					<% } %>
				
				<svg width="50" height="50">
				 <rect x="0" y="0" width="50" height="50" fill="green" />
				</svg>
								
			</div>
			
			<!-- Main Column -->
			<div class="column-main">
				
		    <% if (iFrameURL) { %>
						<iframe src="<%= iFrameURL %>" width="100%" height="600px"  scrolling="no">
				<% } %>
				
				</iframe>
			</div>
		</div>		
	</body>
</html>
