<!DOCTYPE html>
<html>
  <head>
    <title>node-server</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>node-server</h1>
    
    <% if (title) { %>
    <p> Welcome to <%= title %> </p>
	<% } %>
	
    <p> ipAddress:  <%= ipaddress %> </p>
    <p> port:  <%= port %> </p>
	
	
    <% if (IPv4Interface) { %>
		<p> IPv4: <%= IPv4Interface %> </p>
		<p> IPv4.address: <%= IPv4Interface.family %> </p>
		<p> IPv4.address: <%= IPv4Interface.address %> </p>
	<% } %>
	
    <% if (networkInterfaces) { %>
		
	    <h2> networkInterfaces  <%= networkInterfaces %></h2>
	    <ul>
		<%for (var dev in networkInterfaces) { %>
				<li> .. <%= networkInterfaces.dev  %></li>
		<% } %>
		</ul>
	<% } %>
    
    
  </body>
</html>
